
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: #E6E6E6;
    
}
/* Header */
h1{
    margin-top: 0%;
}

.logo a{
    text-decoration: none;
    color: rgba(15,16,7,255);
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    padding-left: 110px;
}
.menubar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #fff;
    opacity: 0.80;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: ridge rgb(201, 212, 201);
}
.socmed ul{
    display: flex;
    list-style: none;
    margin-left: 450px;
       
}
.socmed li{
    margin-right: 10px;
    border: ridge 2px rgb(201, 212, 201);
    padding: 4px;
    border-radius: 100%;

}
.menu-bar ul{
    display: flex;
    list-style: none;
    
    padding-right: 40px;
    
    
}
.menu-bar li a{
    margin-right: 10px;
    text-decoration: none;
    color: #1e7898;
    
}

/* BG image  */
.hero{
    width: 100%;
    height: 600px;
    position: relative;
    /* padding-top: 50px; */
    z-index: -1;
   

}
#Bg{
    width: 100%;
    height: 500px;
}
#Bg img{
    height: 600px;
    width: 100%;
    position: absolute;
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    filter: brightness(80%);

}
@keyframes FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  #Bg img:nth-of-type(1) {
    animation-delay: 15s;
  }
  #Bg img:nth-of-type(2) {
    animation-delay: 10s;
  }
  #Bg img:nth-of-type(3) {
    animation-delay: 5s;
  }
  #Bg img:nth-of-type(4) {
    animation-delay: 0;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;  
  }
  .hero-text h1{
    background-color: #ddd;
    border-radius: 20px;
    padding: 5px 40px;
    font-family: 'Yuji Mai', serif; 
    font-style:oblique;
  }
  .hero-text button {
    border: none;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px 45px;
    color: rgb(211, 200, 200);
    background-color: rgb(55, 100, 59);
    text-align: center;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
  }
  /* Places Content */
  .places{
    width: 100%;
    background-color: #d2dee2;
    padding: 5px;
  }
  .dif-places{
    margin:70px; 
    margin-bottom: 20px;
    background-image: url(".//adventure/island.jpg");
    border-style: dotted;
    height: 1767px;     
  
 }
.dif-places .caption{
  font-family: 'Cookie', cursive;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  opacity: .8;
  display: flex;
  height: 100px;
  font-weight: 700;
  padding: 15px 40px;
  background-color: #FCF7FF;
  /* border: 2px solid grey; */
 }
/* .dif-places .caption p{
  justify-content: center;
} */
 .travel{
   float: left;
   margin: 40px;
   width:47%;
   padding-left: 50px;
   background-image: url(".//adventure/bagyo.jpg");
   background-size: 500px 365px;
   background-repeat: no-repeat ;
   background-position: 50px -10px;
   /* border:4px solid green; */
 }
 .travel img{
   width: 500px;
   height: 355px;
   transition: opacity 1s ease-in-out;
   /* border-radius: 20px; */
 }

.travel img.top:hover {
  opacity:0;
}
.text{
  margin-top: 20px;
  width: 500px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  /* font-weight: 900; */
  background-color: #FCF7FF;
  padding: 15px;
}

.travel-right{
  float:left;
  width: 40%;
  margin: 40px;
  /* border:4px solid green; */
  background-image: url(".//adventure/Intramuros\ and\ Fort\ Santiago\,\ Manila.jpeg");
  background-size: 500px 355px;
  background-repeat: no-repeat ;
}
.travel-right img{
  width: 500px;
  height: 355px;
  transition: opacity 1s ease-in-out;
  /* border-radius: 20px; */
}
.travel-right img.top:hover {
  opacity:0;
}
.dif-places button{
  margin: 20px;
  border: 2px rgba(125, 180, 243, 0.897) solid;
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(4, 125, 180);
  border-radius: 10px;
}
.ver1{
  background-image: url(".//adventure/Underground-River.jpg");
}
.ver2{
  background-image: url(".//adventure/enchanted.jpg");
}
.foot{
  clear: both;
  font-family: 'Finger Paint', cursive;
  /* border-radius: 20px;
  border: solid 2px lightgrey; */
  padding-left: 17%;
  background-color: #878c8f;
  font-size: 25px;
  color: black;
}
.foot span{ 
  font-size:larger ;
  font-weight: 900;
  cursor: pointer;
  color: black;
  border-style:outset;
  border-radius: 20px;
}
.foot span:hover{
  background-color: red;
}
.white{
  background-color: #c4cad0;
  margin-top: 60px;
}
.circle{
  /* background-color: rgba(255, 255, 255, 0.747); */
  width: auto;
  height: 1000px;
  margin: 0 220px;
  background-image: url(".//adventure/aesthetic.png");
  
 
}
.circle-content{
  display: flex;
  justify-content: center;
  
 
  
}
.center-circle{
  font-size: 30px;
  margin-top: 30px;
  
  
}
.circle-content p {
 margin: 30px;
  font-family: 'Shalimar', cursive;
  font-weight: 900;

 
}
.round img{
  width: 200px;
  height: 210px;
  margin: 50px 5px;
  border-radius: 100%;
}
.round img:hover{
  transform:scale(1.4);
  transition: 1.5s;
}
.nametag ul{
  display: flex;
  background-color: #c4cad0;
  padding: 10px;
}
.nametag li{
 margin-left: 60px;
  list-style: none;
  font-size: 20px;

  cursor: pointer;
}
.nametag li:hover{
  color:rgb(65, 77, 65);
}
/* Footer */
.bot{
  display: flex;
  margin-top: 200px;
  justify-content: center;
  background-color: #FCF7FF;
  opacity: .9;
  height: 120px;
}
.bot ul{
  /* margin:60px 30px; */
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  color: rgb(46, 45, 45);
  padding: 10px 20px;
  border-radius: 20px;
}
.bot .bold{
  margin-bottom: 20px;
  font-weight: bolder;
}
.bot li{
  cursor: pointer;
  width: 150px;
  margin-bottom: 5px;
 
}
.bot li:hover{
  list-style:circle;
}
.copy{
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.copy span{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}
.follow ul{
  display: flex;
  
  
}
.follow li{
  margin-right: 40px;
  list-style: none;
}
.follow li img{
  border: ridge 2px rgb(201, 212, 201);
    padding: 4px;
    border-radius: 100%;
    background-color: white;

}
 .last{
  margin-top: 10px;
}