*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.flex-container{
 width: 100%;
 min-height: 100vh;
 background-color: #ddd;
 margin-top: 50px;

}

.flex-container .Profile{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 text-transform: uppercase;
 font-size: 22px;
 letter-spacing: 1.5px;
 padding: 50px 0px;
}

.flex-container .Profile h1::after{
    content: "";
    height: 10px;
    width: 450px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    display: block;
    margin: auto;
}

.Content{
 width: 85%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 40px;
 margin: 30px auto;

}

.Content .Text{
 box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
 background-color: #eee;
 padding: 25px 25px;
}

.Content .Text h2{
 color: black;
 font-size: 26px;
 line-height: 1.5;
 letter-spacing: 1px;
}

.Content .Text p{
 margin-top: 30px;
 font-size: 19px;
 line-height: 1.5;
 color:black

}

.Content .Text a{
 font-size: 22px;
 text-decoration: none;
 display: inline-block;
 padding: 12px 35px;
 background-color:brown;
 border-radius: 25px;
 color: #fff;
 border:1px solid brown;
 letter-spacing: 1.5px;
 margin-top: 20px;
}

.image img{
 width: 100%;
 height: auto;
 

}
.column-pic{
  display: flex;
  justify-content: center;
}


.box-area{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  
  }
  
  .single-box{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: coral;
    text-align: center;
    margin: 20px;
    padding: 20px;
    
  }
  
  .img-area img{

    width: 200px;
    border: 6px solid #ddd;
    border-radius: 50%;
    padding: 20px;
 
  
  }
   
  .img-text{
    margin-top: 10px;
  }



 