body {
    /* font-family: "Lato", sans-serif; */
    color: black;
    margin: 0;
    background-image: url("./sunglasses-thumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
.form-cons{
  top: 30px;
  left: 480px;
  position: absolute;
 

}
.margin{
  margin: 50px;
}
  
  .invalid {
    border: 2px solid red;
  }

  
  input {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    border: 1px solid rgb(79, 80, 79);
    font-size: 18px;
    outline: none;
    color: #333;
  }
h1{
    margin-left:40px;
}
  
  .form-control {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 6px;
  }
  
  .hide {
    opacity: 0;
  }
  
  textarea {
    width: 560px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    height: 200px;
    font-size: 18px;
  }
  
  button {
    color: black;
    padding: 20px;
    border-radius: 10px;
    background: #3895D3;
    cursor: pointer;
    transition: all 0.5s;
    color: rgb(234, 238, 236);
  }
  
  button:hover {
    background-color: #1261A0;
    color: white;
  }
  
  form {
    padding: 40px;
  }
  
